# Go build
/build/
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Wails build artifacts
/wailsjs/
frontend/dist/
/frontend/node_modules/
/frontend/.vite/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / Editor
.vscode/
.idea/
.DS_Store
secure.db
secure.db-shm
secure.db-wal
secure_main.db
secure_main.db-shm
secure_main.db-wal

# OS files
Thumbs.db

frontend/.env
data/**
