@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'tailwindcss/components';

:root {
  --exit-red: #e7000b;
  --dark-gray: #202020;
  --light-gray: #d9d9d9;
  --medium-gray: #6c6c6c;
  --orange-json: #e07a0d;
  --docker-blue: #1d63ed;
  --system-black: #000000;
  --accent-green: #16a34a;
  --system-white: rgb(255 255 255);
  --light-overlay: rgb(255 255 255/ 0.6);
  --light-red: rgba(251 113 133 / var(--tw-text-opacity, 1));

  --terminal-background: #5e2750;
  --grey-text: rgb(161 161 170/ 1);
  --dark-overlay: rgb(0 0 0 / 0.6);
  --dark-primary: rgb(24, 24, 27);
  --dark-secondary: rgb(39, 39, 42);
  --dark-tertiary: rgb(255 255 255 / 0.1);
}


input[type="password"]::-ms-reveal {
  display: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--system-white);
  color: var(--system-black);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-primary);
    color: var(--system-white);
  }
}

.dark body {
  background-color: var(--dark-primary);
  color: var(--system-white);
}

.appframe-drag {
  --wails-draggable: drag;
}

.appframe-no-drag {
  --wails-draggable: no-drag;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.7);
}

.dark ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.7);
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}