@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'tailwindcss/components';

@layer utilities {
  .appframe-drag {
    --wails-draggable: drag;
  }

  .appframe-no-drag {
    --wails-draggable: no-drag;
  }
}

@layer base {

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply m-0 bg-white text-black;
  }

  .dark body {
    @apply bg-zinc-900 text-white;
  }

  input[type="password"]::-ms-reveal {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.7);
}

.dark ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}