@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --exit-red: #e7000b;
  --dark-gray: #202020;
  --medium-gray: #6c6c6c;
  --light-gray: #d9d9d9;
  --system-black: #000000;
  --system-white: #ffffff;
  --docker-blue: #1d63ed;
  --accent-green: #16a34a;
  --orange-json: #e07a0d;
  --light-red: rgb(251 113 133 / var(--tw-text-opacity, 1));
}
